
@model HotelCloudBedSystem.Areas.Manager.ViewModels.HotelListViewModel

@{

}
<section class="content-header">
    <h1>
        Hotel Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Hotel Profile</li>
    </ol>
</section>
<div class="row" style="margin-left:-5px;">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary" style="width:340px;">
            <div class="box-body box-profile">
                @if (Model.HotelImage == null)
                {

                    <img src="~/dist/img/hotel.jpg" style="width:300px;height:300px;margin-left:10px;" alt="woman avatar">
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.HotelImage);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    <img src='@imgsrc' style="width:300px;height:300px;margin-left:10px;" alt="User Image">
                    @*<img id="adminpicture" src='@imgsrc' alt="woman avatar">*@
                }

                <h3 class="profile-username text-center">@Model.HotelName</h3>

                <p class="text-muted text-center">@Model.Manager</p>
                <a class="btn btn-primary btn-block" asp-area="Manager" asp-controller="HotelProfilePictureUpload"
                   asp-action="Index" id="profilepicbtn"> <i class="fa fa-upload"></i> Upload picture</a>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary" style="width:1060px;margin-top:140px">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.HotelName Address Info</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i>Address</strong>

                <p class="text-muted">
                    @Model.Address
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">@Model.HotelCity</p>

                <hr>

                <strong><i class="fa fa-map-signs margin-r-5"></i> Hotel Description</strong>

                <p class="text-muted">@Model.Description</p>

                <hr>
                <strong><i class="fa fa-picture-o margin-r-5"></i> Hotel Pictures</strong>
                <hr />
                @await Component.InvokeAsync("HotelCloudBedSystem.Areas.Manager.ViewComponents.HotelImages", new { id = Model.HotelId })



            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom" style="width:650px;margin-left:130px;">
            <div class="tab-content">

                <div id="settings">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Hotel Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" disabled placeholder="FirstName" asp-for="HotelName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label" asp-for="HotelCity">HotelCity</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail" disabled placeholder="Email" asp-for="HotelCity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">No Of Floors</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" disabled placeholder="Email" asp-for="NoOfFloors">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">No Of Rooms</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" disabled placeholder="PhoneNo" asp-for="NoOfRooms">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Manager</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" disabled placeholder="EmailConfirmed" asp-for="Manager">
                            </div>
                        </div>

                        <h4><strong style="margin-left:120px;
margin-top:10px">Facilities</strong></h4>
                        <div class="row" style="margin-left:90px;margin-top:20px">


                            <input type="checkbox" asp-for="FreeWifi" style="margin-left:35px"> <span> <i class="fa fa-wifi"></i>Free Wifi</span>
                            <input type="checkbox" asp-for="BreckFast" style="margin-left:35px"> <span> <i class="fa fa-coffee"></i>BreckFast</span>
                            <input type="checkbox" asp-for="Lunch" style="margin-left:35px"> <span> <i class="fa fa-apple"></i>Lunch</span>
                            <input type="checkbox" asp-for="Dinner" style="margin-left:35px"> <span> <i class="fa fa-apple"></i>Dinner</span>
                            <input type="checkbox" asp-for="AttachedWashrooms" style="margin-left:70px;margin-top:20px"> <span> <i class="fa fa-bath"></i>Attach Washroom</span>
                            <input type="checkbox" asp-for="Receptionservices" style="margin-left:35px"> <span> <i class="fa fa-server"></i>Reception Service</span>
                            <input type="checkbox" asp-for="CarParking" style="margin-left:35px"> <span> <i class="fa fa-car"></i>CarParking</span>
                            <input type="checkbox" asp-for="Laundry" style="margin-left:35px;margin-top:20px"> <span> <i class="fa fa-female"></i>Laundry</span>

                        </div>

                    </form>


                </div>

                <!-- /.tab-pane -->
            </div>

            <!-- /.tab-content -->
        </div>
        <a class="btn btn-success" style="margin-left:160px;width:600px;height:40px;" id="HotelUpdate" asp-area="Manager" asp-controller="HotelUpdate" asp-action="Index"><b> <i class="fa fa-cloud-upload"></i> Update Hotel information</b></a>

        <a class="btn btn-warning" style="margin-left:160px;width:600px;height:40px;margin-top:20px"
           id="HotelPictureUploadbtn" asp-area="Manager" asp-controller="UploadHotelImage" asp-action="_UploadImage" asp-route-id="@Model.HotelId">
            <b>
                <i class="fa fa-upload"></i> Upload Hotel Pictures
            </b>
        </a>
        <!-- /.nav-tabs-custom -->
    </div>
</div>

<div class="modal" id="hotelupdatemodel">

</div>
<div class="modal" id="HotelprofilePicmodal">

</div>

<div class="modal" id="HotelPicUploadmodal">

</div>

@section Scripts {
    <script src="~/bootbox.min.js"></script>
    <script>

        //Create
        $("#HotelUpdate").on("click", function (e) {
            e.preventDefault();
            var btn = $(this);
            console.log("Button 1 is working...");
            $.ajax({

                url: btn.attr('href'),
                type: 'GET',
                success: function (response) {
                    $("#hotelupdatemodel").html(response);
                    $("#hotelupdatemodel").modal('show');
                }
            });
        });




        $("#profilepicbtn").on("click", function (e) {
            e.preventDefault();
            var btn = $(this);
            console.log("Button 1 is working...");
            $.ajax({
                url: btn.attr('href'),
                type: 'GET',
                success: function (response) {
                    $("#HotelprofilePicmodal").html(response);
                    $("#HotelprofilePicmodal").modal('show');
                }
            });
        });



        $("#HotelPictureUploadbtn").on("click", function (e) {
            e.preventDefault();
            var btn = $(this);
            console.log("Button 1 is working...");
            $.ajax({
                url: btn.attr('href'),
                type: 'GET',
                success: function (response) {
                    $("#HotelPicUploadmodal").html(response);
                    $("#HotelPicUploadmodal").modal('show');
                }
            });
        });

    </script>
}




