@model IEnumerable<HotelCloudBedSystem.Models.AppUser>
@{
    ViewData["Title"] = "Index";
}




<section class="content-header">
    <h1>
        UsersList
        <small>NotinRole Users</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>


<div class="box-body" id="NotinRoleUser">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
            <div class="text-center" style="margin-top:30px;margin-left:-650px;">

                @Html.Partial("Pages", Model)

            </div>
            <div style="margin-left:-180px;">
                @await Component.InvokeAsync("HotelCloudBedSystem.Areas.Admin.ViewComponents.SearchByEmail")
            </div>
            @*<div class="form-group" style="margin-left:900px">
                    <a class="btn btn-success float-right" asp-area="Admin" asp-controller="AppUser" asp-action="AddAppUser" id="CreateBtn">
                        Add New User
                    </a>
                </div>*@
            <div class="col-sm-12">
                @if (Model == null)
                {
                    <div class="alert alert-warning">
                        Empty Data Found..
                    </div>
                }
                else
                {
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="margin-top:25px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">User Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">EMail Address</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 60px;margin-left:-100px;height:20px;">Account Status</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr role="row" class="odd">
                                    <td class="sorting_1">@user.FirstName @user.LastName</td>
                                    <td>@user.Email</td>

                                    @if (user.IsEnable == true)
                                    {
                                        <td><b style="background-color:green;color:white;margin-left:-20px;width:10px;height:10px;">Enable</b></td>
                                    }
                                    else
                                    {
                                        <td><b style="background-color:red;color:white;margin-left:-20px;width:10px;height:10px;">Disable</b></td>
                                    }
                                    <td style="margin-left:-100px">
                                        <a class="btn btn-warning js-update" id="updateuser" asp-area="Admin" asp-controller="AppUser" asp-action="_UpdateUser" asp-route-id="@user.Id" style="margin-left:-50px">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger js-user-delete" asp-area="Admin" asp-controller="AppUser" asp-action="DeleteUser" asp-route-id="@user.Id">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-primary js-userroledetail" asp-area="Admin" asp-controller="UserProfile" asp-action="Index" asp-route-id="@user.Id">
                                            <i class="fa fa-list"></i>
                                        </a>
                                        <a class="btn btn-primary js-userroledetail" asp-area="Admin" asp-controller="AppUserRole" asp-action="AssignRole" asp-route-id="@user.Id">
                                            <i>AssignRole</i>
                                        </a>
                                        @if (user.IsEnable == true)
                                        {
                                            <a class="btn btn-danger " asp-route-id="@user.Id" asp-area="Admin" asp-controller="UsersAccountStatus" asp-action="UserAccountStatus">
                                                Disable
                                            </a>

                                        }
                                        else
                                        {
                                            <a class="btn btn-primary " asp-route-id="@user.Id" asp-area="Admin" asp-controller="UsersAccountStatus" asp-action="ManagerAccountStatus">
                                                Enable
                                            </a>

                                        }
                                    </td>
                                </tr>
                            }




                        </tbody>

                    </table>
                }

            </div>
        </div>
    </div>
</div>

<div class="text-center" style="margin-top:15px;margin-left:-650px;">
    @Html.Partial("Pages", Model)
</div>

<div class="modal" id="rolemoodal">

</div>

<div class="modal" id="AdduserModal">

</div>


<div class="modal" id="UpdateUserModal">

</div>

@section Scripts{
    <script src="~/bootbox.min.js"></script>
    @*<script src="~/js/bootbox.js/bootbox.js"></script>*@
    <script>

        $(function () {



            //update
            $(".js-update").on("click", function (e) {
                e.preventDefault();
                var btn = $(this);
                console.log("Button 1 is working...");
                $.ajax({
                    async:true,
                    url: btn.attr('href'),
                    type: 'GET',
                    success: function (response) {
                        $("#UpdateUserModal").html(response);
                        $("#UpdateUserModal").modal('show');
                    }
                });
            });

            //FormUpdate
            $(document.body).delegate(".FormUpdate", "submit", function (e) {
                e.preventDefault();
                console.log("Button is working");
                var frm = $(this);

                $.ajax({
                    async:true,
                    url: frm.attr('action'),
                    type: frm.attr('method'),
                    data: frm.serialize(),
                    success: function (response) {
                        if (response.status == true) {

                            bootbox.alert(response.message);

                            // refresh data grid
                            $.ajax({
                                async:true,
                                url: '/Admin/UserList/NotinRole/',
                                type: 'GET',
                                success: function (data) {
                                    $("#NotinRoleUser").html(data);
                                },
                                error: function () {

                                }
                            });

                            // hide modal
                            $("#UpdateUserModal").modal('hide');
                        } else {
                            console.warn(response.message);
                        }
                    },
                    error: function () {

                    }
                });

            });


            //delete

            $(".js-user-delete").on("click", function (e) {
                e.preventDefault();

                var btn = $(this);

                bootbox.confirm("Are you sure to delete the record?", function (result) {
                    console.log("Btn working")
                    if (result) {
                        $.ajax({
                            async:true,
                            url: btn.attr('href'),
                            type: 'Get',
                            data: { id: btn.attr('data-id') },
                            success: function (response) {
                                if (response.status) {
                                    bootbox.alert(response.message);

                                    // refresh data grid
                                    $.ajax({
                                        async:true,
                                        url: '/Admin/UserList/NotinRole/',
                                        type: 'GET',
                                        success: function (data) {
                                            $("#NotinRoleUser").html(data);
                                        },
                                        error: function () {

                                        }
                                    });
                                } else {
                                    bootbox.alert(response.message);
                                }
                            },
                            error: function () {

                            }
                        });
                    }
                });
            });

            //Create User
            $("#CreateBtn").on("click", function (e) {
                e.preventDefault();
                var btn = $(this);
                console.log("Button 1 is working...");
                $.ajax({
                    async:true,
                    url: btn.attr('href'),
                    type: 'GET',
                    success: function (response) {
                        $("#AdduserModal").html(response);
                        $("#AdduserModal").modal('show');
                    }
                });
            });

            //Assign Role
            $(".js-userroledetail").on("click", function (e) {
                e.preventDefault();
                var btn = $(this);
                console.log("Button 1 is working...");
                $.ajax({
                    async:true,
                    url: btn.attr('href'),
                    type: 'GET',
                    success: function (response) {
                        $("#rolemoodal").html(response);
                        $("#rolemoodal").modal('show');
                    }
                });
            });



        });

    </script>

}